* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    margin-top: 1em;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    margin-bottom: 0.3em;
}

h4 {
    font-weight: normal;
}

.container {
    display: table;
    margin: 1em auto 0 auto;
}

.row  {
    display: table-row;
}

.under {
    margin: 2em auto;
}

div {
    display: table-cell;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: -4px;
}

.shuffle {
    padding: 1.5em 3em;
    border: 1px solid black;
}

.info {
    width: 200px;
    display: inline-block;
}

#place-00, #place-01, #place-02, #place-03,
#place-04, #place-05, #place-06, #place-07,
#place-08, #place-09, #place-10, #place-11,
#place-12, #place-13, #place-14, #place-15 {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: lightgrey;
}

.blank {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: lightgrey;
}