
.class-A-00 {
    background-image: url('../images/slide-puzzle-3/A/00.png');
    background-size: contain;
}
.class-A-01 {
    background-image: url('../images/slide-puzzle-3/A/01.png');
    background-size: contain;
}
.class-A-02 {
    background-image: url('../images/slide-puzzle-3/A/02.png');
    background-size: contain;
}
.class-A-03 {
    background-image: url('../images/slide-puzzle-3/A/03.png');
    background-size: contain;
}
.class-A-04 {
    background-image: url('../images/slide-puzzle-3/A/04.png');
    background-size: contain;
}
.class-A-05 {
    background-image: url('../images/slide-puzzle-3/A/05.png');
    background-size: contain;
}
.class-A-06 {
    background-image: url('../images/slide-puzzle-3/A/06.png');
    background-size: contain;
}
.class-A-07 {
    background-image: url('../images/slide-puzzle-3/A/07.png');
    background-size: contain;
}
.class-A-08 {
    background-image: url('../images/slide-puzzle-3/A/08.png');
    background-size: contain;
}
.class-A-09 {
    background-image: url('../images/slide-puzzle-3/A/09.png');
    background-size: contain;
}
.class-A-10 {
    background-image: url("../images/slide-puzzle-3/A/10.png");
    background-size: contain;
}
.class-A-11 {
    background-image: url("../images/slide-puzzle-3/A/11.png");
    background-size: contain;
}
.class-A-12 {
    background-image: url("../images/slide-puzzle-3/A/12.png");
    background-size: contain;
}
.class-A-13 {
    background-image: url("../images/slide-puzzle-3/A/13.png");
    background-size: contain;
}
.class-A-14 {
    background-image: url("../images/slide-puzzle-3/A/14.png");
    background-size: contain;
}
.class-A-15 {
    background-image: url('../images/slide-puzzle-3/A/15.png');
    background-size: contain;
}
