
.class-B-00 {
    background-image: url('../images/slide-puzzle/B/00.png');
    background-size: contain;
}
.class-B-01 {
    background-image: url('../images/slide-puzzle/B/01.png');
    background-size: contain;
}
.class-B-02 {
    background-image: url('../images/slide-puzzle/B/02.png');
    background-size: contain;
}
.class-B-03 {
    background-image: url('../images/slide-puzzle/B/03.png');
    background-size: contain;
}
.class-B-04 {
    background-image: url('../images/slide-puzzle/B/04.png');
    background-size: contain;
}
.class-B-05 {
    background-image: url('../images/slide-puzzle/B/05.png');
    background-size: contain;
}
.class-B-06 {
    background-image: url('../images/slide-puzzle/B/06.png');
    background-size: contain;
}
.class-B-07 {
    background-image: url('../images/slide-puzzle/B/07.png');
    background-size: contain;
}
.class-B-08 {
    background-image: url('../images/slide-puzzle/B/08.png');
    background-size: contain;
}
.class-B-09 {
    background-image: url('../images/slide-puzzle/B/09.png');
    background-size: contain;
}
.class-B-10 {
    background-image: url("../images/slide-puzzle/B/10.png");
    background-size: contain;
}
.class-B-11 {
    background-image: url("../images/slide-puzzle/B/11.png");
    background-size: contain;
}
.class-B-12 {
    background-image: url("../images/slide-puzzle/B/12.png");
    background-size: contain;
}
.class-B-13 {
    background-image: url("../images/slide-puzzle/B/13.png");
    background-size: contain;
}
.class-B-14 {
    background-image: url("../images/slide-puzzle/B/14.png");
    background-size: contain;
}
.class-B-15 {
    background-image: url('../images/slide-puzzle/B/15.png');
    background-size: contain;
}
