
.class-D-00 {
    background-image: url('../images/slide-puzzle/D/00.png');
    background-size: contain;
}
.class-D-01 {
    background-image: url('../images/slide-puzzle/D/01.png');
    background-size: contain;
}
.class-D-02 {
    background-image: url('../images/slide-puzzle/D/02.png');
    background-size: contain;
}
.class-D-03 {
    background-image: url('../images/slide-puzzle/D/03.png');
    background-size: contain;
}
.class-D-04 {
    background-image: url('../images/slide-puzzle/D/04.png');
    background-size: contain;
}
.class-D-05 {
    background-image: url('../images/slide-puzzle/D/05.png');
    background-size: contain;
}
.class-D-06 {
    background-image: url('../images/slide-puzzle/D/06.png');
    background-size: contain;
}
.class-D-07 {
    background-image: url('../images/slide-puzzle/D/07.png');
    background-size: contain;
}
.class-D-08 {
    background-image: url('../images/slide-puzzle/D/08.png');
    background-size: contain;
}
.class-D-09 {
    background-image: url('../images/slide-puzzle/D/09.png');
    background-size: contain;
}
.class-D-10 {
    background-image: url("../images/slide-puzzle/D/10.png");
    background-size: contain;
}
.class-D-11 {
    background-image: url("../images/slide-puzzle/D/11.png");
    background-size: contain;
}
.class-D-12 {
    background-image: url("../images/slide-puzzle/D/12.png");
    background-size: contain;
}
.class-D-13 {
    background-image: url("../images/slide-puzzle/D/13.png");
    background-size: contain;
}
.class-D-14 {
    background-image: url("../images/slide-puzzle/D/14.png");
    background-size: contain;
}
.class-D-15 {
    background-image: url('../images/slide-puzzle/D/15.png');
    background-size: contain;
}
