
.class-C-00 {
    background-image: url('../images/slide-puzzle-3/C/00.png');
    background-size: contain;
}
.class-C-01 {
    background-image: url('../images/slide-puzzle-3/C/01.png');
    background-size: contain;
}
.class-C-02 {
    background-image: url('../images/slide-puzzle-3/C/02.png');
    background-size: contain;
}
.class-C-03 {
    background-image: url('../images/slide-puzzle-3/C/03.png');
    background-size: contain;
}
.class-C-04 {
    background-image: url('../images/slide-puzzle-3/C/04.png');
    background-size: contain;
}
.class-C-05 {
    background-image: url('../images/slide-puzzle-3/C/05.png');
    background-size: contain;
}
.class-C-06 {
    background-image: url('../images/slide-puzzle-3/C/06.png');
    background-size: contain;
}
.class-C-07 {
    background-image: url('../images/slide-puzzle-3/C/07.png');
    background-size: contain;
}
.class-C-08 {
    background-image: url('../images/slide-puzzle-3/C/08.png');
    background-size: contain;
}
.class-C-09 {
    background-image: url('../images/slide-puzzle-3/C/09.png');
    background-size: contain;
}
.class-C-10 {
    background-image: url("../images/slide-puzzle-3/C/10.png");
    background-size: contain;
}
.class-C-11 {
    background-image: url("../images/slide-puzzle-3/C/11.png");
    background-size: contain;
}
.class-C-12 {
    background-image: url("../images/slide-puzzle-3/C/12.png");
    background-size: contain;
}
.class-C-13 {
    background-image: url("../images/slide-puzzle-3/C/13.png");
    background-size: contain;
}
.class-C-14 {
    background-image: url("../images/slide-puzzle-3/C/14.png");
    background-size: contain;
}
.class-C-15 {
    background-image: url('../images/slide-puzzle-3/C/15.png');
    background-size: contain;
}
